html {
    font-size: 62.5%;
}

body {
    font-family: Helvitica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disable {
    opacity: 0.5;
    cursor: default;
}